@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ULATSKAWA</h1>
    <p class="lead">Somos una Clínica de Fisioterapia y Terapias Alternativas donde ofrecemos un servicio personalizado. Brindamos sanación, bienestar integral, calidad de vida y balance físico.</p>
    <p><a href="https://www.facebook.com/Fisioterapia-Ul%C3%A1tskawa-614312192559691" class="btn btn-primary btn-lg">Más... &raquo;</a></p>
</div>

