body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*     Alert    */
.alert {
    border: 0px;
    position: relative;
    padding: .95rem 1.25rem;
    border-radius: 1px;
    color: inherit;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
    -moz-box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
    box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
}

    .alert [data-notify="icon"] {
        display: block;
    }

        .alert [data-notify="icon"]::before {
            line-height: 35px;
            font-size: 22px;
            display: block;
            left: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 35px;
            border-radius: 30px;
            text-align: center;
            color: #fff;
        }

    .alert [data-notify="title"] {
        display: block;
        color: #2b2b2b;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .alert [data-notify="message"] {
        font-size: 13px;
        color: #908e8e;
    }

    .alert .close {
        background: rgba(255, 255, 255, 0.8);
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: 12px !important;
        border-radius: 50%;
    }

/*    Alert States    */
.alert-default {
    border-left: 4px solid #1a2035;
}

    .alert-default [data-notify="icon"]:before {
        background: #1a2035;
    }

.alert-primary {
    border-left: 4px solid #1572E8;
}

    .alert-primary [data-notify="icon"]:before {
        background: #1572E8;
    }

.alert-secondary {
    border-left: 4px solid #6861CE;
}

    .alert-secondary [data-notify="icon"]:before {
        background: #6861CE;
    }

.alert-info {
    border-left: 4px solid #48ABF7;
}

    .alert-info [data-notify="icon"]:before {
        background: #48ABF7;
    }

.alert-success {
    border-left: 4px solid #31CE36;
}

    .alert-success [data-notify="icon"]:before {
        background: #31CE36;
    }

.alert-warning {
    border-left: 4px solid #FFAD46;
}

    .alert-warning [data-notify="icon"]:before {
        background: #FFAD46;
    }

.alert-danger {
    border-left: 4px solid #F25961;
}

    .alert-danger [data-notify="icon"]:before {
        background: #F25961;
    }
