@model List<FisioterapiaUlatskawa.Models.BibliotecaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Crear Video</h2>

<div style="margin-top: 10px">
    <a href="@Url.Action("Create", "Biblioteca")" class="btn btn-primary btn-full  mt-sm-3">
        <i class="fa fa-plus-circle"></i> Nuevo
    </a>
</div>

<hr />

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Título
                        </th>
                        <th>
                           Descripción
                        </th>
                        <th>
                            Video
                        </th>
                        <th>
                            Acción
                        </th>

                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.titulo
                            </td>
                            <td>
                                @item.descripcion
                            </td>
                            <td><iframe width="360" height="115" src="https://www.youtube.com/embed/GpZu9htCOig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>

                            <td>
                                <a href="@Url.Action("Edit", "Biblioteca")
                                   class="btn btn-primary btn-sm btn-full" title="Editar">
                                    Editar
                                </a>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/Tema/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Tema/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Tema/js/demo/datatables-demo.js"></script>
